<div id="%.object_title%" style="width:378px; height: 214px; text-align:center; align:center; font-family: monospace; border: 3px solid #4682B4; border-radius: 10px;">
<!-- получаем значение свойствайство обекта пассворд для скрипта ниже -->
<input type="hidden" id="%.object_title%.pas" value="%.password%"></input>

<!-- название обьекта -->
   %.object_description%
 </p>

<div id="%.object_title%.afterlogo"></div>
 
<!-- запрос пароля -->
 <div style="display: none;" id="%.object_title%chekpass">
  <p style="color:red;">ВВЕДИТЕ ПАРОЛЬ ДЛЯ ТЕКУЩЕГО УСТРОЙСТВА ЧТОБЫ МОЖНО БЫЛО ИМ УПРАВЛЯТЬ. </p>
  <p style="color:red;">ПАРОЛЬ ВВОДИТСЯ В НАСТРОЙКАХ ВАШЕГО УСТРОЙСТВА </p>
  <input type="text" name="%.object_title%.password" value="%.password%" onmouseout='ajaxSetGlobal("%.object_title%.password", value);location.reload();'></input>
</div>

  <!-- основной обьект -->
  <div style="display: none;" id="%.object_title%buttons" style="width:378px; ">
  <button style='float:left;width:40px;height: 30px;' class="btn btn-danger" onClick='callMethod("%.object_title%.F1");' >F1</button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-success" onClick='callMethod("%.object_title%.F2");' >F2</button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-warning" onClick='callMethod("%.object_title%.F3");' >F3</button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-primary" onClick='callMethod("%.object_title%.F4");' >F4</button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-primary" onClick='callMethod("%.object_title%.mute_unmute");' ><i class="glyphicon glyphicon-volume-off"></i></button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.setting");' ><i class="glyphicon glyphicon-asterisk"></i></button> 
  <button style='float:left;width:48px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.app");' >APP</button> 
  <button style='float:left;width:42px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.tv");' >TV</button> 
  <button style='float:left;width:40px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.audiomode");' ><i class="glyphicon glyphicon-bullhorn"></i></button> 

  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.1");' >1</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.2");' >2</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.3");' >3</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.4");' >4</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.5");' >5</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.6");' >6</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.7");' >7</button>   
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.8");' >8</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.9");' >9</button> 
  <button style='float:left;width:37px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.0");' >0</button> 

  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.volumeup");' > <i class="glyphicon glyphicon-volume-up"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.volumedown");' > <i class="glyphicon glyphicon-volume-down"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.guide");' ><i class="glyphicon glyphicon-pencil"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.home");' ><i class="glyphicon glyphicon-home"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.info");' ><i class="glyphicon glyphicon-info-sign"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.menu");' ><i class="glyphicon glyphicon-th-list"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.ok");' ><i class="glyphicon glyphicon-ok"></i></button> 

  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.play");' > <i class="glyphicon glyphicon-play"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.stop");' > <i class="glyphicon glyphicon-stop"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.next");' ><i class="glyphicon glyphicon-step-forward"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.previous");' ><i class="glyphicon glyphicon-step-backward"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.pause");' ><i class="glyphicon glyphicon-pause"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.seekprevious");' ><i class="glyphicon glyphicon-fast-backward"></i></button> 
  <button style='float:left;width:52px;height: 30px;' class="btn btn-default" onClick='callMethod("%.object_title%.seeknext");' ><i class="glyphicon glyphicon-fast-forward"></i></button> 
   
  <button style='float:left;width:92px;height: 40px;' class="btn btn-default" onClick='callMethod("%.object_title%.up");' > <i class="glyphicon glyphicon-arrow-up"></i></button> 
  <button style='float:left;width:93px;height: 40px;' class="btn btn-default" onClick='callMethod("%.object_title%.down");' > <i class="glyphicon glyphicon-arrow-down"></i></button> 
  <button style='float:left;width:93px;height: 40px;' class="btn btn-default" onClick='callMethod("%.object_title%.left");' ><i class="glyphicon glyphicon-arrow-left"></i></button> 
  <button style='float:left;width:92px;height: 40px;' class="btn btn-default" onClick='callMethod("%.object_title%.rigth");' ><i class="glyphicon glyphicon-arrow-right"></i></button> 
  </div>  
 <script>
  // берем значение свойства пассворд обьекта
  var pas = document.getElementById("%.object_title%.pas").value;
  if (pas == '') {
     document.getElementById("%.object_title%chekpass").style.display = "block";
  } else {
     document.getElementById("%.object_title%buttons").style.display = "block";
  };
 </script>
</div> 
